<div class="col-6 d-flex flex-column m-auto mt-5">

  <h1 class="text-center">Suma de dos números</h1>
  <form action="" class="form-control">
    <div>
      <input class="form-control" type="number" name="number1" id="" [(ngModel)]="number1">
    </div>
  
    <div class="mt-3">
      <input class="form-control" type="number" name="number2" id="" [(ngModel)]="number2">
    </div>

  </form>
  <button class="btn btn-outline-primary mt-3" (click)="add()">Sumar</button>
  {{ result }}
</div>

